<label for="title">Title: </label>
<p class="form-control disabled"><span><strong>{{ itemDetailsController.item.Title }}</strong></span></p>
<label for="title">Description: </label>
<p class="form-control disabled"><span><strong>{{ itemDetailsController.item.Description }}</strong></span></p>
<label for="title">Due Date: </label>
<p class="form-control disabled"><span><strong>{{ itemDetailsController.item.DueDate }}</strong></span></p>
<label for="title">Priority: </label>
<p class="form-control disabled"><span><strong>{{ itemDetailsController.item.PriorityId }}</strong></span></p>